@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --font-sans: "Lato", sans-serif;
    --color-background: #f2f2f2;
    --color-primary: #202020;
    --color-secondary: #2663e9;
    --color-title-color: #0a0a0a;
    --color-paragraph-color: #94949c;
    --color-paragraph-light-color: #c6c6cc;

    @keyframes cartoon-bounce {
        0% {
            transform: scale(1, 1);
        }
        20% {
            transform: scale(1.2, 0.8);
        }
        40% {
            transform: scale(0.9, 1.1);
        }
        60% {
            transform: scale(1.05, 0.95);
        }
        80% {
            transform: scale(0.98, 1.02);
        }
        100% {
            transform: scale(1, 1);
        }
    }
}

@layer utilities {
    .animate-notify-pop {
        animation: cartoon-bounce 0.6s ease-out forwards;
    }

    .mask-half-star {
        mask-image: linear-gradient(to right, black 50%, transparent 50%);
        -webkit-mask-image: linear-gradient(
            to right,
            black 50%,
            transparent 50%
        );
    }
}
